click-plugins==1.1.1
entrypoints==0.3
jupyter-server==1.4.1
matplotlib
numpy 
pandas 
pandas-datareader
pandas-profiling
pandasql==0.7.3
plotly
Pygments
terminado==0.9.2
tornado
voila==0.2.7
voila-material==0.4.0
